{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <meta charset="UTF-8">
    <title>造数 - 电商数据服务(beta)</title>
    <meta name="Keywords" content="造数,造数科技,爬虫工具,云爬虫,爬虫,采集,网页采集">
    <link rel="shortcut icon" href="./asserts/favicon.ico">
    <link rel="icon" type="images/png" sizes="16*16" href="../../src/asserts/Icon_16x16.png">
    <link rel="icon" type="images/png" sizes="32*32" href="../../src/asserts/Icon_32x32.png">
    <link rel="icon" type="images/png" sizes="64*64" href="../../src/asserts/Icon_64x64.png">
    <link rel="icon" type="images/png" sizes="96*96" href="../../src/asserts/Icon_96x96.png">
{% endblock %}

{% block style %}
    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css"
        integrity="sha384-I6JCnqxMbC2DuiHjsoCiLa15NVbKRf8/ooANRLsXD87zD2dVqzlz6Oqjvj470ztk"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{{ "style.css"|resolveAsset }}">
    {{ super() }}
    {% for type, style in config.styles %}
        {% if fileExists(style) and type == "website" %}
        <link rel="stylesheet" href="{{ style|resolveFile }}">
        {% endif %}
    {% endfor %}
{% endblock %}

{% block body %}
<div class='main'>
  {% if file.path == readme.file.path %}
    <div class="supportHeader">
      <div class="content">
        <div class="searchTitle">我们能帮上什么忙吗？</div>
        <div class="searchCon">
          <span class="searchIcon">Icon</span>

          {% block search_input %}{% endblock %}

          {% if file.path == readme.file.path %}
          <div class="description">
              {{ page.content | safe }}
          </div>
          {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="supportNav">
      <div class="supportNavCon">
        <div class="navItem">
          <p>Icon</p>
          <p>联系客服</p>
        </div>
        <div class="navItemLine"></div>
        <div class="navItem">
          <p>Icon</p>
          <p>产品文档</p>
        </div>
        <div class="navItemLine"></div>
        <div class="navItem">
          <p>Icon</p>
          <p>造数社区</p>
        </div>
      </div>
    </div>
  {% else %}
    <div class="supportDetailHeader">
      <div class="content">
        <span>帮助中心</span>
        <span>
          {{ page.title }}
        </span>
      </div>
    </div>
  {% endif %}
  <div class="searchList">
    <div class="content">
      <div class="searchListTitle">搜索结果</div>
      <div class="listContainer">
        {% block search_results %}
          {% block page %}{% endblock %}
        {% endblock %}
      </div>
    </div>
  </div>
  <div class="submitOrder">
    <div class="content">
      <div class="orderTitle">问题仍未解决？</div>
      <div class="orderSubTitle">
        <span>通过</span>
        <span>提交工单</span>
        <span>，我们技术支持团队会为你提供帮助</span>
      </div>
      <a href="" class="button">提交工单</a>
    </div>
  </div>
  <div class="footer">
      <div class="content">
          <div class='logo'>
              <img src="../asserts/logo.png"/>
          </div>
          <div class='menus'>
               <div class='menu'>
                   <div class="title">产品</div>
                   <div class="links">
                       <a href='ProductCrawler.html'>云爬虫</a>
                       <a href='ProductMonitori.html'>寻数</a>
                   </div>
               </div>
               <div class='menu'>
                   <div class="title">案例</div>
                   <div class="links">
                       <a href='#'>鲸媒体</a>
                       <a href='#'>黑五电商学院</a>
                   </div>
               </div>
               <div class='menu'>
                   <div class="title">公司</div>
                   <div class="links">
                       <a href='contactUs.html'>联系我们</a>
                       <a href='aboutUs.html'>关于我们</a>
                       <a href='#'>合作伙伴</a>
                       <a href='joinUs.html'>加入我们</a>
                   </div>
               </div>
               <div class='menu'>
                   <div class="title">支持</div>
                   <div class="links">
                       <a href='support.html'>帮助中心</a>
                       <a href='#'>提交工单</a>
                       <a href='#'>使用协议</a>
                       <a href='#'>隐私政策</a>
                   </div>
               </div>
          </div>
          <div class='contact'>
              <div>010-5615-8667</div>
              <div>support@zaoshu.io</div>
          </div>
          <div>
              <div class='copyRight'>
                  <div>@ 2016-2017 北京造数科技有限公司</div>
                  <div>北京市朝阳区青年路 113 号无界空间 1F</div>
              </div>
              <div class='ICP'>
                  <div>京ICP备16067667号</div>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}


{% block javascript %}
<script src="{{ "gitbook.js"|resolveAsset }}"></script>
{% for resource in plugins.resources.js %}
    {% if resource.url %}
    <script src="{{ resource.url }}"></script>
    {% else %}
    <script src="{{ resource.path|resolveAsset }}"></script>
    {% endif %}
{% endfor %}
<script>
(function() {
    gitbook.page.hasChanged({{ template.getJSContext()|dump|safe }});
    document.querySelector('#book-search-input input').placeholder = '搜索你想要了解的问题';
})();
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% endblock %}
