@charset "UTF-8";

.footer {
    background: #fff;
    position: relative;
    font-size: 0;
    height: 400px;
    box-shadow: 0 -5px 15px 0 rgba(0,1,2,0.03);
    .content {
	    width: 980px;
	    margin: 0 auto;
	    z-index: 1000;
	    text-align: left;
	    padding: 70px 0 40px 0;
	    .logo {
		    display: inline-block;
		    vertical-align: top;
		    width: 150px;
		    img {
		    	height: 30px;
		    }
		}
		.menus {
		    display: inline-block;
		    vertical-align: top;
		    height: 270px;
		    .menu {
			    width: 150px;
			    display: inline-block;
          float: left;
			    .title {
    				font-size: 24px;
				}
				.links {
				    font-size: 16px;
				    margin-top: 20px;
				    a {
					    display: block;
					    color: #757575;
					    text-decoration: none;
					}
				}
			}
		}
		.contact {
		    display: inline-block;
		    vertical-align: top;
		    width: 150px;
		    font-size: 16px;
		}
		.copyRight {
		    font-size: 14px;
		    float: left;
		    color: #dadada;
		}
		.ICP {
		    font-size: 14px;
		    float: right;
		    color: #dadada;
		    position: relative;
    		top: 20px;
		}
	}

}
