@charset "UTF-8";

html,body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
ul,ol,dl,li {
  list-style: none;
}
.button{
  display: inline-block;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  background-image: linear-gradient(#33b1ff, #33b1ff), linear-gradient(to bottom, #17c5ff, #11c0fa), linear-gradient(#11c4ff, #11c4ff);
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.09);
}
